<div class="main-content">
  <div class="container-fluid">


    <div style="margin-top:40px" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div  class="card-header card-header-warning card-header-icon">
                    <div style="background: linear-gradient(60deg, #2196f3, #2196f3);"  class="card-icon">
                        <i class="material-icons">today</i>
                    </div>
                    <p class="card-category">Total day Consumption </p>
                    <h3 class="card-title">2.33
                        <small>KW</small>
                    </h3>
                </div>
                <div class="card-footer">
                     <!--<div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Get More Space...</a> 
                    </div> -->
                    <div class="stats">
                      <i class="material-icons">date_range</i> Total  
                  </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div style="background: linear-gradient(60deg, #9f21f3, #9f21f3);"  class="card-icon">
                        <i class="material-icons">date_range</i>
                    </div>
                    <p class="card-category">Total month Consumption</p>
                    <h3 class="card-title"> 209.96  KW</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Total 
                    </div>
                </div>
            </div>
        </div>


      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                      <i class="material-icons">euro_symbol</i>
                  </div>
                  <p class="card-category">Total money spent</p>
                  <h3 class="card-title">107.328 KW</h3>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">emoji_emotions</i> Energy saved successfully
                  </div>
              </div>
          </div>
      </div>  


      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">functions</i>
                </div>
                <p class="card-category">Total predicted price</p>
                <h3 class="card-title">141.482 KW</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">emoji_emotions</i> Energy saved successfully
                </div>
            </div>
        </div>
    </div>  

    </div>  
   

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title ">Properties</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Location
                                  </th>
                                  <th>
                                      kWh day
                                  </th>
                                  <th>
                                      kWh month
                                  </th>
                                  <th>
                                    Already spent
                                </th>
                                <th>
                                    Predicted price
                                </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Rent room
                                      </td>
                                      <td>
                                          Lille Grande Place
                                      </td>
                                      <td class="text-primary">
                                          0.83
                                      </td>
                                      <td class="text-primary">
                                         69.45
                                      </td>
                                      <td class="text-primary">
                                        €36,738
                                    </td>
                                    <td class="text-primary">
                                        €39,472
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Appart 2 room
                                    </td>
                                    <td>
                                        Paris
                                    </td>
                                    <td class="text-primary">
                                        1.5
                                    </td>
                                    <td class="text-primary">
                                       140.51
                                    </td>
                                    <td class="text-primary">
                                     €70.59
                                  </td>
                                  <td class="text-primary">
                                     €102.01
                                  </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-info">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
